<div class="header">
    @Html.Widget("header")
    <div class="header-logo header-left">        
        <a href="@Url.RouteUrl("HomePage")" class="logo">        
            <div class="header-phone-work-time">
                <div class="header-phone" ><span>Киев: (093) 796-70-38 </span><span class="phone-logo-life">Life:)</span></div>
                <div class="header-work-time">Без выходных с 10:00 до 21:00</div>
            </div>
            <div class="header-favicon">
                <img alt="ШколаВоды" src="/favicon.gif" />
            </div>
            <div class="header-about">Просто об очистке воды</div>        
        </a>
    </div>
    
    
    
    <div class="header-right">

        <div class="header-links-wrapper">
          @Html.Action("HeaderLinks", "Common")
         
        </div>
    

        <div class="header-selectors-wrapper">
            <div class="tax-display-type-selector">
                @Html.Action("TaxTypeSelector", "Common")
            </div>
            <div class="currency-selector">
                @Html.Action("CurrencySelector", "Common")
            </div>
            <div class="language-selector">
                @Html.Action("LanguageSelector", "Common")
            </div>
            @Html.Widget("header_selectors")
        </div>
    
    
        <div class="search-box">
            @Html.Action("SearchBox", "Catalog")
        </div>
        
         @Html.Action("FlyoutShoppingCart", "ShoppingCart")
    </div>

</div>
