@{
    Layout = "";

   
}
@model YandexMarketParserModel
@using Nop.Plugin.Misc.YandexMarketParser.Models;
@using Nop.Web.Framework;

@using Nop.Core.Infrastructure;

@using (Html.BeginForm())
{
    <div>ver___7    </div>
    <table style="width: 100%;">               
        <tr>
            <td>                
                @Model.CatalogName
            </td>

        </tr>

        <tr>
            <td>
                @Html.NopLabelFor(model => model.ProductList, false)

                @foreach (var currentProduct in Model.ProductList)
                {
                    <div>@currentProduct.ToString()</div>
                    @*<p> <img src="@currentProduct.ImageUrl_1"/> </p>*@
                }
               
            </td>
             
        </tr>

        <tr>
            <td colspan="2">
                 <div>
                    @Html.LabelFor(model => model.ParseNotMoreThen) :
                    @Html.EditorFor(model => model.ParseNotMoreThen) 
                </div> 
                <div>
                    @Html.CheckBoxFor(model => model.IsTest) 
                    @Html.LabelFor(model => model.IsTest) 
                </div> 
                <input type="submit" name="Parse" class="t-button" value="Parse" />                
            </td>
        </tr>
    </table>
    
}
